<div class="container pb-5 mb-sm-1 mt-3">
    <div class="row mb-3">
        <div class="col-12">
            <h1>Product catalogue</h1>
            <hr>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <label for="" class="mb-2">Enter Anything You Want to Search</label>
                    <input type="text" class="form-control" [(ngModel)]="searchText" (input)="filterProductsByName()">
                </div>
                <div class="col-6">
                    <label for="" class="mb-2">Choose Filter</label>
                    <select name="" class="form-control" id="" #selectedValue (change)="filterProductsByCategory(selectedValue.value)">
                        <option value="">-- Select Option --</option>
                        <option value="99">All Categories</option>
                        <option value="{{ eachCategory.id }}" *ngFor="let eachCategory of this.categoryList">{{ eachCategory.categoryName }}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <!-- Categories grid-->
    <div class="row">
        <!-- Category-->
        <div class="col-md-4 col-sm-6" *ngFor="let eachProduct of this.filteredProducts | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }; index as i">
            <div class="card border-0 mb-grid-gutter">
                <a class="card-img-tiles" href="shop-style1-ls.html">
                    <div class="main-img"><img src="{{ eachProduct.firstImage }}" style="height: 400px;" alt="Clothing"></div>
                    <!-- <div class="thumblist"><img src="{{ eachProduct.secondImage }}" alt="Clothing"><img src="{{ eachProduct.thirdImage }}" alt="Clothing"></div> -->
                </a>
                <div class="card-body border mt-n1 py-4 text-center">
                    <h2 class="h5 mb-1">{{ eachProduct.productName }}</h2>
                    <span class="d-block mb-3 font-size-xs text-muted">Category 
                        <span class="font-weight-semibold">{{ eachProduct.categoryName }}</span>
                    </span>
                    <span class="badge badge-danger mb-3" *ngIf="!eachProduct.inStock">Out of Stock</span>
                    <div>
                        <a class="btn btn-pill btn-outline-primary btn-sm" href="#" (click)="onClickSeeProduct(eachProduct.productId)">Visit Product</a>
                    </div>
                </div>
            </div>  
        </div>
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
</div>